.countryContainer {
  width: 10vw;

  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
  position: relative;

  box-shadow: -8px 7px 44px -17px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -8px 7px 44px -17px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -8px 7px 44px -17px rgba(0, 0, 0, 0.75);
}

.flag {
  width: 100%;
}

h2,
h4 {
  margin: 0;
}

h2 {
  font-size: 15px;
  font-weight: bold;
}

h4 {
  font-size: 12px;
}

.link {
  position: absolute;
  color: black;
  right: 4px;
  bottom: 0;
}
