.container {
  width: 100%;
  border-radius: 50px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 70%;
  height: 60vh;
  margin-bottom: 20px;
  border-radius: 25px;

  box-shadow: -8px 7px 44px -17px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -8px 7px 44px -17px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -8px 7px 44px -17px rgba(0, 0, 0, 0.75);
}
.input {
  width: 50%;
  border: none;
  background-color: var(--light-grey);
  color: var(--dark-blue);
  padding: 10px 10px;

  font-stretch: condensed;
}
.countries {
  margin-top: 20px;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(3, auto);
  align-items: center;
  justify-content: space-evenly;
  grid-gap: 20px;
}

.formActivities {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.formActivities p {
  margin: 5px 0;
}

.formActivities span {
  margin: 5px 0;
}

.activityContainer,
.durationContainer {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
}

.activityContainer input,
.durationContainer input {
  width: 100%;
}

.difficultyContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.difficultyContainer input {
  margin-top: 10px;
}

.red {
  color: red;
}

.button {
  color: white;
  background-color: var(--dark-blue);
  border: none;
  cursor: pointer;
  border-radius: 15px;
  padding: 10px 15px;
}

.button:hover {
  background-color: var(--english-violete);
}

.countryCheckbox {
  display: none;
}

.labelCountry {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 200px;
  min-width: 100px;
  box-sizing: border-box;
  padding: 5px;
}

.labelCountry:before {
  content: "";
}

.countryCheckbox:checked + .labelCountry {
  box-shadow: -8px 7px 44px -17px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -8px 7px 44px -17px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -8px 7px 44px -17px rgba(0, 0, 0, 0.75);
}

.flag {
  width: 100%;
}
